<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pigeon-project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B4F452A1F32230C00A6FF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B9AF3821F3B9B6E00A3934D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B9AF3921F3B9BC500A3934D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B9AF3A11F3B9C3500A3934D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
